{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if greet %}
        <h1>{{ greet }}</h1>
    {% endif %}
    <img src="/images/under-construction.gif" />
{% endblock %}
