{% extends 'base.html.twig' %}

{% block title %}Documents{% endblock %}

{% block body %}

    {% for document in documents %}
        <h4>{{ document.title }}</h4>
        <h5>{{ document.description }}</h5>
        <i>{{ document.ocr }}</i>

        <a href="{{ path('document_show', {id: document.id}) }}">Detail</a>
        <hr>
    {% endfor %}

{% endblock %}
