{% extends 'base.html.twig' %}

{% block title %}Document {{ document.title }}{% endblock %}

{% block body %}

    <h1>{{ document.title }}</h1>

    <p>{{ document.description }}</p>

    {% if document.ocr %}
    <div>
        <h3>OCR-Data</h3>
        <p>{{ document.ocr.data }}</p>
    </div>
    {% endif %}
{% endblock %}
